@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Open+Sans:wght@400;800&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}